{% extends 'layout/master-layout.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block sidebar %}
	<img class="img-fluid" src="{{ asset('images/logo_cs2i.png') }}" alt="logo_cs2i">
	<h1>Bienvenue sur le blog cs2i !</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, libero autem quia eligendi labore perspiciatis numquam, architecto, soluta eveniet corrupti quasi porro eaque cupiditate impedit sunt beatae quaerat. Numquam itaque, rem accusantium ipsa deleniti odio blanditiis velit vitae quibusdam vel?</p><br>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt ipsa quibusdam possimus exercitationem, ut a dolorum delectus facilis eaque?</p>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row align-items-center">
			<h2 class="fw-bold">À propos du blog cs2i</h2>
			<div class="col-12">

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Culpa expedita mollitia vel! Aperiam assumenda 
					                consequuntur exercitationem, optio sed temporibus voluptatem! A asperiores aspernatur eaque error illum 
					                libero quod quos recusandae! Asperiores debitis eligendi eos facilis impedit iste non, perspiciatis placeat 
					                ratione recusandae repellendus saepe tenetur totam vel velit vitae voluptas.
				</p>
				<p>
					Aliquam aspernatur, cum cumque dolorum eius eligendi esse eum harum id impedit in ipsam ipsum libero 
					                nihil quos optio quia quibusdam aut dolore recusandae rem sapiente suscipit, sunt, suscipit tempora 
					                tempore voluptates? Amet at beatae error illo ipsam minima minus nesciunt numquam, provident quas quia 
					                quibusdam quisquam ratione soluta tenetur.
				</p>
				<div class="row">
					<div class="col-8">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ex itaque architecto pariatur assumenda consequatur fugit esse cupiditate! Voluptate nostrum dolorem reprehenderit ratione explicabo totam perferendis est culpa exercitationem laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quidem molestias. Vero voluptatem itaque officia enim pariatur distinctio repudiandae quaerat sint dolores qui. Rerum sequi, debitis consequuntur placeat molestias accusantium?
						</p>
					</div>
					<div class="col-4">
						<img src="{{ asset('images/logo_cs2i.png') }}" class="card-img-top" alt="Logo CS2I">
					</div>
				</div>

				<p>
					Accusantium aspernatur laboriosam molestias natus nobis non obcaecati tempora tenetur ut? Et distinctio 
					                ex expedita quos temporibus. Aperiam at beatae reprehenderit cumque dicta dolorem ab eos eveniet in 
					                inventore nam odio odit, quaerat quam quibusdam tempora reprehenderit soluta totam veritatis vero? Adipisci 
					                aspernatur inventore natus perferendis porro quia ratione!
				</p>
			</div>
		</div>
	</div>
{% endblock %}
