{% extends 'layout/master-layout.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block sidebar %}
    <img class="img-fluid" src="{{ asset('images/logo_cs2i.png') }}" alt="logo_cs2i">
    <h1>Bienvenue sur le blog cs2i !</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, libero autem quia eligendi labore perspiciatis numquam, architecto, soluta eveniet corrupti quasi porro eaque cupiditate impedit sunt beatae quaerat. Numquam itaque, rem accusantium ipsa deleniti odio blanditiis velit vitae quibusdam vel?</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt ipsa quibusdam possimus exercitationem, ut a dolorum delectus facilis eaque?</p>
{% endblock %}

{% block body %}
    <div class="bg-body-secondary mx-5 p-5">
        <h1 class="display-2"><strong>Le blog cs2i</strong></h1>
    </div>
{% endblock %}